<div class='top-box' id='top'>
  <header class='top-header'>
      <%= link_to 'CHAT CHAT', "#", class:"title-chat" %>
    <div class='nav'>
      <ul class='top-lists'>
        <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, "#", class: "user-nickname"%></li>
        <li><%= link_to 'logout', destroy_user_session_path, method: :delete, class: "logout"%></li> 
        <% else %>
        <li><%= link_to 'login', "#", class: "login"%></li>
        <li><%= link_to 'sign-up', new_user_registration_path, class: "sign-up"%></li>
        <% end %>
      </ul>
    </div>
  </header>
</div>